.img{
    margin: 0px 500px;
}
.container{
    background-color: rgb(231, 231, 231);
    text-align: center;
    margin: 2px 50px;
}
.search{
    padding: 3px 150px;
}
.boxes{
    margin-top: 2px;
}
.box1{
    float: left;
    padding: 0px 155px;
    padding-bottom: 14px;
    background-color:rgb(109, 226, 226);
    font-size: medium;
}
.box2{
    float: left;
    padding: 0px 63px;
    padding-bottom: 10px;
    margin-left: 1px;
    background-color:rgb(32, 194, 194);
    font-size: small;
}
.box3{
    float: left;
    padding: 0px 164px;
    margin-left: 1px;
    background-color: rgb(22, 156, 156);
    font-size: small;}
.list1{
    list-style-type: none;
    text-align: center;
}
.list2{
    list-style-type: none;
    text-align: center;
}
.list3{
    list-style-type: none;
    text-align: center;
}
.p{
    text-align: center;
    font-size: small;
    padding-top: 90px;
    background-color: white;
}